<div class="col-sm-6 col-md-4">
  <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
  <%= link_to product.name.upcase, product %>
  <p>color: <%= product.colour.upcase %></p>
  <p class="card-text"><%= product.description %></p>
  <strong><%= number_to_currency(product.price, :unit => "$") %></strong>
</div>