<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <tbody>
      <div class="container">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-6 col-md-4">
            <%= image_tag(product.image_url, class: "img-responsive") %>
            <a href=#><%= product.name %></a>
            <p>color:<%= product.colour %> | <%= product.description %></p>
            <strong><%= number_to_currency(product.price, :unit => "$") %></strong>
          </div>
        <% end %>
      </div>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
