<p id="notice"><%= notice %></p>

<div class="padding">
  <%= link_to 'Back to Products', products_path %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag(@product.image_url, class: "img-responsive") %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2><%= @product.name.upcase %></h2>
      <p><%= number_to_currency(@product.price, unit:"$") %></p>
      <p>
        <div class="colour-square" style="background-color: <%= @product.colour %>;">
        </div>
        <span style="font-size: 1.4em;"><%= @product.colour %>
        </span>
      </p>
      <p><%= @product.description %></p>
    </div>
  </div>
</div>

<div class="padding">
  <%= link_to 'Edit', edit_product_path(@product) %>
</div>
